div.container {
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    color: rgb(135,142,176);

    & > * {
        border: 2px solid green;
    }

    & > div.footer {
        display: flex;

        & > div.footer_wrapper {
            border: 2px solid yellow;
            display: flex;

            & > * {
                border: 2px solid red;

                & > p {
                    margin-bottom: 20px;
                    text-align: left;
                }
            }

            & > div.left {
                margin-right: 20px;
            }
        }
    }

    & > div.header {
        border: 2px solid chartreuse;
        min-height: 300px;
        // width: 100%;

        & > div.header_wrapper {
            border: 2px solid green;
            display: flex;
            width: 100%;

            & > div.header_left {
                border: 2px solid yellow;
                flex-basis: 35%;
                
                & > * {
                    // margin-bottom: 30px;
                    text-align: left;
                    border: 2px solid red;
                }
            }

            & > div.header_right {
                border: 2px solid aqua;
                flex-basis: 65%;
            }
        }
    }
}
