div.App {
  text-align: center;
  // border: 2px solid maroon;
  min-height: 100vh;
  max-width: 100vw;

  & > * {
    width: 100vw;
  }

  & > section.navigation {
    position: fixed;
  }

  & > section.header {
    height: calc(100vh - 90px);
    word-wrap: break-word;
    background-color: yellow;
    margin-top: 90px;
  }

  & > section.body {
    word-wrap: break-word;
    width: 100vw;
    height: auto;
  }
}
