body {
  margin: 0;
  font-family: MyFont, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & button {
    font-family: MyFont;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: MyFont;
  src: url('./assets/fonts/632a5ad86830f76d8c55415c_Gilroy-SemiBold.otf'),
    url('./assets/fonts/632a5ad8775a875de9bfa9cf_Gilroy-Bold.otf'), 
    url('./assets/fonts/632a5ad894c9d1cdf2acfde1_Gilroy-Regular.otf');
}

*,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    max-width: 100vw;
  }

button:disabled {
  cursor: not-allowed;
}
